:root {
    --bg-primary: #0DA54A;
    --bg-secondary: #528258;
    --bg-tertiary: #EB5F80;
    --bg-neutral: #727970;
    --bg-surface: #E9F0E4;
    --text-header: #161D16;
    --text-body: #3E493D;
    --text-label: #495447;
}

body {
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-body);
    background-color: var(--bg-surface);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 100vw;
    height: 80px;
}

.header__title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__square {
    width: 0.6rem;
    height: 0.6rem;
    background-color: var(--bg-primary);
    border-radius: 25%;
}

.header__name {
    color: var(--text-header);
    font-size: 1.4rem;
    font-weight: bold;
}


.header__link {
    font-family: "JetBrains Mono", monospace;
}

.header__link-active {
    color: var(--bg-primary);
    border-bottom: 2px solid var(--bg-primary);
}

nav > ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

main {
    max-width: 1140px;
    width: 100vw;
    margin: auto;
}