:root {
    --bg-primary: #0DA54A;
    --bg-secondary: #528258;
    --bg-tertiary: #EB5F80;
    --bg-neutral: #727970;
    --text-header: #161D16;
    --text-body: #3E493D;
    --text-label: #495447;
}